body {
  font-family: "Inter", sans-serif !important;
  background-color: oldlace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-weight: 600;
  width: 100% !important;
  color: #c6f6cb !important;
  background-color: #421313;
}

th {
  font-size: 18px;
}

select {
  color: #030120;
  background-color: #fbdfdf !important;
  border: 1px solid #ced4da;
}

/* HIDE SAVE BTN INITIALLY */
.save {
  display: none;
}

/* INCREASE EMAIL COLUMN WIDTH*/
.email {
  width: 80%;
}

/* SHOW SUCCESS AND ERROR MESSAGES SIDE BY SIDE */
.messages-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 1400px;
}

/* READONLY INPUTS */
.employee-data-display {
  color: #01000e;
  padding: 7px;
  background-color: #fbdfdf;
  border: 1px solid #b0b7be;
}

.new-employee-input {
  padding: 7px;
}

/* NEW EMPTY ROW */
.new-row-actions {
  display: flex;
  align-items: normal;
  justify-content: flex-start;
  gap: 1.2rem;
}

.reset-icon {
  width: 1.2rem;
  height: 1.2rem;
  margin-top: -4px;
  cursor: pointer;
}

.edit {
  background-color: #e8ec7f;
}

.btn-close {
  margin-left: 25%;
}

.select2-selection__rendered {
  color: #01000e;

  line-height: 31px !important;
}
.select2-container .select2-selection--single {
  height: 35px !important;
}
.select2-selection__arrow {
  height: 34px !important;
}
